In [31]:
import keras
import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# Setting seed for reproducability
np.random.seed(1234)  
PYTHONHASHSEED = 0
from sklearn import preprocessing
from sklearn.metrics import confusion_matrix, recall_score, precision_score
from keras import models
from keras.wrappers.scikit_learn import KerasRegressor
from keras.models import Sequential,model_from_json
from keras.layers import Dense, Dropout, LSTM, Activation,SimpleRNN
%matplotlib inline
from decimal import Decimal
import warnings
warnings.filterwarnings("ignore")
import pickle
from sklearn.preprocessing import OneHotEncoder,LabelEncoder,Normalizer, MinMaxScaler
from sklearn.cross_validation import cross_val_score
from numpy.random import seed
seed(1)
from tensorflow import set_random_seed
set_random_seed(2)
from sklearn.metrics import mean_absolute_error
from sklearn import ensemble
from sklearn.ensemble import RandomForestRegressor
from sklearn.multioutput import MultiOutputRegressor
import xgboost as xgb

In [32]:
df=pd.read_csv('~/Downloads/NCSU-master-2/DC_ten_skus.csv')
#df=pd.read_csv('./DC_ten_skus.csv')
df['Date'] = pd.to_datetime(df['Date'])
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.weekday_name
day_dummy=pd.get_dummies(df.Day)
df=pd.concat([df,day_dummy],axis=1)
df.drop(['Day','Date'],inplace=True,axis=1)

y=df['Sales']

In [33]:
df.head()
df.shape

(942, 16)

In [34]:
X=df.drop(['id','DayOfWeek','Customers','Sales'],inplace=False,axis=1)
X.head()

,Open,Promo,SchoolHoliday,Year,Month,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,0,0,10,2013,1,0,0,0,0,0,1,0
1,10,0,10,2013,1,0,0,0,0,0,0,1
2,10,0,8,2013,1,0,0,0,0,1,0,0
3,10,0,8,2013,1,1,0,0,0,0,0,0
4,10,0,1,2013,1,0,0,1,0,0,0,0

In [35]:
for obs in range(1,8):
    X["Sales_T"+str(obs)]=df['Sales'].shift(obs)
X.head()

,Open,Promo,SchoolHoliday,Year,Month,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,Sales_T1,Sales_T2,Sales_T3,Sales_T4,Sales_T5,Sales_T6,Sales_T7
0,0,0,10,2013,1,0,0,0,0,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10,0,10,2013,1,0,0,0,0,0,0,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,10,0,8,2013,1,0,0,0,0,1,0,0,60436.0,0.0,NaN,NaN,NaN,NaN,NaN
3,10,0,8,2013,1,1,0,0,0,0,0,0,52848.0,60436.0,0.0,NaN,NaN,NaN,NaN
4,10,0,1,2013,1,0,0,1,0,0,0,0,55606.0,52848.0,60436.0,0.0,NaN,NaN,NaN

In [36]:
X['Mov_avg']=df['Sales'].rolling( window=7).mean().shift(1) 
y=y[7:]
X=X[7:]
y.reset_index(drop=True, inplace=True)
X.reset_index(drop=True, inplace=True)
X.head()

,Open,Promo,SchoolHoliday,Year,Month,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,Sales_T1,Sales_T2,Sales_T3,Sales_T4,Sales_T5,Sales_T6,Sales_T7,Mov_avg
0,10,10,1,2013,1,0,0,0,0,0,1,0,89391.0,0.0,43727.0,55606.0,52848.0,60436.0,0.0,43144.000000
1,10,10,1,2013,1,0,0,0,0,0,0,1,72552.0,89391.0,0.0,43727.0,55606.0,52848.0,60436.0,53508.571429
2,10,10,1,2013,1,0,0,0,0,1,0,0,64297.0,72552.0,89391.0,0.0,43727.0,55606.0,52848.0,54060.142857
3,10,10,1,2013,1,1,0,0,0,0,0,0,64112.0,64297.0,72552.0,89391.0,0.0,43727.0,55606.0,55669.285714
4,10,0,0,2013,1,0,0,1,0,0,0,0,65006.0,64112.0,64297.0,72552.0,89391.0,0.0,43727.0,57012.142857

In [37]:
std = preprocessing.StandardScaler().fit(X)
X = std.transform(X)
len(X)

935

In [38]:
cv=5

RF=RandomForestRegressor( n_estimators=1000,max_depth=10,max_features=14);
rf_models=[];
rf_models=(cross_val_score(RF,X,y,cv=cv, scoring ='mean_absolute_error').mean().round(0) )


GB=ensemble.GradientBoostingRegressor(n_estimators= 1000,max_depth= 8, max_features=14,
          learning_rate= 0.01, loss= 'ls');
gb_models=[];
gb_models=(cross_val_score(GB,X,y,cv=cv, scoring ='mean_absolute_error').mean().round(0)  )
   

XG=xgb.XGBRegressor(n_estimators= 900,learning_rate =0.01, max_depth=6,gamma=2)
xg_models=[]
xg_models=(cross_val_score(XG,X,y,cv=cv, scoring ='mean_absolute_error').mean().round(0)  )

In [39]:
def create_MLP():
    mlp=models.Sequential()
    mlp.add(Dense(20, input_dim=X.shape[1], activation='relu'))
    #mlp.add(Dense(20, activation='relu'))
    mlp.add(Dense(30, activation='relu'))
    mlp.add(Dense(10, activation='relu'))    
    mlp.add(Dense(1, activation='relu'))
    mlp.compile(loss='mae', optimizer='adam', metrics=['mae'])
    return mlp

MLP = KerasRegressor(build_fn=create_MLP,
                               epochs=300,
                               batch_size=20,
                               verbose=0)

mlp_models=[]
mlp_models=(cross_val_score(MLP,X,y,cv=cv).mean().round(0)  )

In [40]:
from sklearn.gaussian_process.kernels import RBF
from sklearn.gaussian_process.kernels import RationalQuadratic
from sklearn.gaussian_process.kernels import ExpSineSquared
from sklearn.gaussian_process.kernels import Matern
from sklearn.gaussian_process import GaussianProcessRegressor

kernels = [    
    1.0* RBF() + 
    1.0* RBF() *
    1.0* ExpSineSquared(periodicity=7.0,length_scale_bounds=(1,10),periodicity_bounds=(7, 7) )   
]

n_restarts_optimizer=10

GPR=GaussianProcessRegressor(kernel=kernels[0], n_restarts_optimizer=n_restarts_optimizer)  

gpr_models=[]
gpr_models=(cross_val_score(GPR,X,y,cv=cv, scoring='mean_absolute_error').mean().round(0))

In [41]:
len(X)
len(y)

935

In [42]:
#Summary
mae=-pd.DataFrame(np.column_stack((mlp_models,rf_models,gb_models,xg_models,gpr_models)) )
mae=mae.rename(columns = {0:'MLP',1:'RF',2:'GB',3:'XG',4:"GPR"})
best=mae.idxmin(axis=1)
best.astype('category')
mae["Best"]=best
mae

      MLP      RF      GB      XG      GPR Best
0  3972.0  3182.0  3068.0  3118.0  52053.0   GB

In [43]:
#Same models as above, but configured here to predict over entire X (935 days)
def RF_final(X, y):
    tree=RF
    tree.fit(X,y)
    pred=tree.predict(X)
    pred=pd.DataFrame(pred)
    pred.reset_index(drop=True, inplace=True)
    pred=pred.rename(columns = {0:'RF'})
    return (pred, tree)

def MLP_final(X,y):
    model = MLP
    model.fit(X,y)
    pred=model.predict(X)
    pred=pd.DataFrame(pred)
    pred.reset_index(drop=True, inplace=True)
    pred=pred.rename(columns = {0:'MLP'})
    return (pred, model)

def GB_final(X,y):
    model = GB
    model.fit(X,y)
    prediction=model.predict(X)
    pred=pd.DataFrame(prediction)
    pred.reset_index(drop=True, inplace=True)
    pred=pred.rename(columns = {0:'GB'})
    return (pred, model)

def XG_final(X,y):
    model=XG
    model.fit(X,y)
    prediction=model.predict(X)
    pred=pd.DataFrame(prediction)
    pred.reset_index(drop=True, inplace=True)
    pred=pred.rename(columns = {0:'XG'})
    return (pred, model)

In [44]:
#Using aggregated SKU sales data, the best performing model is selected based on K-fold. 
#Then best model is used to predict full data set 

bm_dict={}
for sku in range(0,1):        
        if  mae["Best"][0]=="RF":
            bm_dict[sku]=RF_final(X,y);
                    
        elif mae["Best"][0]=="NN":
            bm_dict[sku]=MLP_final(X,y);
                                
        elif mae["Best"][0]=="GB":
            bm_dict[sku]=GB_final(X,y); 
                        
        elif mae["Best"][0]=="XG":
            bm_dict[sku]=XG_final(X,y);

In [45]:
bm_dict

{0: (               GB
  0    72391.268380
  1    64637.135388
  2    63662.901707
  3    65037.068279
  4    43222.875952
  5       -4.622564
  6    50906.169022
  7    48194.624996
  8    45987.568843
  9    47281.915524
  10   51605.783069
  11   42778.446471
  12      -1.739599
  13   71831.720976
  14   68099.165134
  15   65918.521704
  16   60980.788308
  17   63316.356103
  18   41831.236746
  19      -8.502152
  20   48784.100595
  21   47661.616857
  22   48679.803832
  23   58182.234020
  24   60483.836075
  25   48943.957240
  26      11.996494
  27   87957.495060
  28   74607.578126
  29   70671.607669
  ..            ...
  905  75528.345196
  906  71097.641953
  907  49622.294411
  908     -2.814498
  909  65275.436725
  910  57373.112902
  911  58335.469816
  912  58509.573678
  913  59797.805598
  914  46516.516943
  915     26.902992
  916  88761.308972
  917  79853.230864
  918  73343.745871
  919  72706.039554
  920  65064.381132
  921  48934.034690
  922     19.096484
  923  62621.874729
  924  56244.615911
  925  54430.912641
  926  56324.888840
  927  54470.292574
  928  45285.847870
  929     11.988099
  930  87015.258517
  931  75021.079829
  932  72915.946693
  933  73412.854879
  934  83242.458765

  [935 rows x 1 columns],
  GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
               learning_rate=0.01, loss='ls', max_depth=8, max_features=14,
               max_leaf_nodes=None, min_impurity_decrease=0.0,
               min_impurity_split=None, min_samples_leaf=1,
               min_samples_split=2, min_weight_fraction_leaf=0.0,
               n_estimators=1000, presort='auto', random_state=None,
               subsample=1.0, verbose=0, warm_start=False))}

In [46]:
# Create Phase 2 data set which is comprised of both aggregate SKU data and forecasts
dc_pred=pd.DataFrame(bm_dict[0][0])
# sku_pred=pd.read_csv('C:\\Users\\lengada1\\NCSU\\prediction_skus.csv')
sku_pred=pd.read_csv('./prediction_skus.csv')
sku_pred=sku_pred.iloc[:,1:]
X2=pd.concat([sku_pred,dc_pred,pd.DataFrame(X)],axis=1)
sku_pred
X2.head()
sku_pred,dc_pred.head()

(               1            2             3             4            5  \
 0    5693.193925  6303.152272   9845.807535  10206.146484  5585.067958
 1    5539.595958  6555.860345   8411.639210   9118.957031  5824.338583
 2    5066.336187  5485.939943   7731.928681   9120.459961  4943.748700
 3    4861.325073  4855.833467   8811.058785   9824.867188  5083.340501
 4    4894.417490  2579.798593   4403.234392   9802.511719  1814.601078
 5       0.000000     0.000000      0.000000     -0.000415     0.000000
 6    4481.734005  3982.376276   4959.057241   7667.046387  3900.943029
 7    3991.253060  3931.732374   5114.052700   7145.960938  3744.720345
 8    3985.849512  4502.407539   5034.825950   6966.017090  3882.577859
 9    3940.036435  3621.608549   4793.865812   7111.237793  3568.472519
 10   4257.835932  3732.825022   5648.779211   7862.683105  4142.704268
 11   5071.419202  2442.788405   4043.308020   9452.623047  1740.935823
 12      0.000000     0.000000      0.000000     -0.000415     0.000000
 13   5688.485593  6525.428458   7298.995803  11558.269531  6688.294551
 14   5391.296616  5897.224629   8053.584502   9698.502930  5621.197018
 15   5419.990483  6098.431408   8244.381134   8914.590820  5833.915206
 16   5170.281643  5105.629560   7713.831549   9173.482422  4726.370882
 17   5368.695654  4691.972796   7551.550905   9231.973633  4970.776122
 18   5463.068434  2367.517173   4015.269666   9292.913086  1655.761885
 19      0.000000     0.000000      0.000000     -0.000415     0.000000
 20   4177.095675  3803.382927   5484.657638   7369.242676  3472.186931
 21   3835.155791  3693.718606   5197.609579   7074.893066  3546.645132
 22   4311.724652  4448.631449   5106.606630   7109.922363  3989.016014
 23   4607.849555  4111.031232   5499.725675   7485.521484  4181.763753
 24   5369.687974  4385.724477   6422.118387   9492.702148  4249.991662
 25   5787.877691  2903.038809   4792.584489  10541.937500  1787.431389
 26      0.000000     0.000000      0.000000     -0.000415     0.000000
 27   6932.883422  7020.373815  10925.417472  12874.765625  7158.474614
 28   6095.927355  6254.389478   9569.476554  11218.894531  5605.816722
 29   5986.525553  6599.758549   8794.797459  10160.733398  5655.510525
 ..           ...          ...           ...           ...          ...
 905  5348.208602  6076.376935   7757.767164  11118.915039  5730.476935
 906  4905.314158  4849.685866   8075.081711  10658.730469  5090.969453
 907  4738.479190  4081.850481   4425.284637  10308.751953  2124.926481
 908     0.000000     0.000000      0.000000     -0.000415     0.000000
 909  4232.841532  4284.737788   6921.189396   8318.136719  4232.817253
 910  3815.253072  4161.885103   6346.959632   8354.769531  3950.291193
 911  3824.756825  5416.199265   6053.391261   8209.435547  4670.605984
 912  3798.743914  4093.433283   6216.791470   8672.015625  4466.336818
 913  3879.368990  4468.204644   6459.016821   9038.009766  4441.983138
 914  3870.449126  2791.512020   4111.169951  10464.303711  2064.508486
 915     0.000000     0.000000      0.000000     -0.000415     0.000000
 916  5260.657059  7240.537947   9563.680199  12843.463867  7587.269950
 917  5018.696120  6238.865893   8944.120388  11599.336914  6154.093711
 918  4856.605295  6592.050814   8473.066684  11010.261719  6071.968231
 919  4456.004934  5225.047137   7884.757067  11326.781250  5198.040697
 920  4671.376250  4660.835845   7103.963917  11020.164062  4758.230499
 921  4380.070413  3095.832132   4068.718592  10056.712891  2047.529659
 922     0.000000     0.000000      0.000000     -0.000415     0.000000
 923  4020.669476  4175.302887   5776.247655  10052.928711  4001.526487
 924  3742.651682  3998.851152   5717.849701   9145.597656  3731.709583
 925  3724.153775  5076.350548   5527.680708   8494.189453  3982.963289
 926  3694.788287  4162.106814   5648.429967   8915.905273  3737.749290
 927  3772.104656  3962.232808   5524.270249   8317.653320  3995.031857
 928  4220.431208  2614.647385   4070.201630   9598.272461  2026.138959
 929     0.000000     0.000000      0.000000     -0.000415     0.000000
 930  5824.870603  6867.697919   8836.895677  12632.466797  7315.314204
 931  5162.998203  5906.340554   8618.164292  10313.580078  5956.931932
 932  4864.466593  6325.238793   7851.116348   9566.681641  5971.732533
 933  4741.039416  5428.505142   8251.898811  10273.879883  5038.858774
 934  5140.340814  5574.502256   8252.726202  10045.430664  4922.927912

                6             7            8             9           10  \
 0    7147.661768  10084.369141  6433.098762   6374.213867  5688.395479
 1    6880.898734   9011.419922  5525.291577   5318.414062  5569.069536
 2    6295.468110   7932.394531  6176.105360   5331.561523  5589.729284
 3    6896.488886   8253.934570  5165.642864   5739.909180  5609.136196
 4    3787.978551   5127.479492  2563.439689   4959.999023  4493.968093
 5       0.000000     -0.814440     0.000000     -0.004743     0.000000
 6    5947.442757   6616.559570  4201.807941   4370.560547  4787.604381
 7    5613.985815   6771.527344  4193.224744   4036.704590  4526.775166
 8    4953.127282   6072.090820  3729.558458   3901.480225  4564.688629
 9    5451.752215   6870.445801  4821.477593   4158.798828  4488.499029
 10   5640.344382   7943.214844  3860.279587   5228.781738  4823.176404
 11   3671.828775   5004.902832  2387.817431   4896.496582  4485.488874
 12      0.000000     -0.799439     0.000000     -0.004743     0.000000
 13   7258.413674  10942.666992  7727.070342   6875.371582  6639.573661
 14   7023.835017   9090.182617  6138.425913   5100.752930  5368.388737
 15   7109.423175   8081.844238  6059.123561   4890.533691  5244.724856
 16   6082.507433   7679.739746  6305.436293   5052.897461  4872.169266
 17   6532.705366   8263.583008  5188.847560   5665.217285  5399.060505
 18   3541.118000   4588.522461  2409.082050   5125.508789  4682.854194
 19      0.000000     -0.811091     0.000000     -0.004743     0.000000
 20   5966.928878   6436.876953  3870.637229   4336.541504  4733.602588
 21   5492.611669   6528.524414  3987.068490   4021.554932  4503.433348
 22   5688.209572   5933.983887  3783.573288   3839.217285  4280.412390
 23   5998.917341   6783.582031  5249.771659   4333.265137  4599.603596
 24   6448.863051   7837.407715  4302.114230   5238.569336  4690.990059
 25   3944.803603   5739.465820  2447.442288   5336.550293  4450.036470
 26      0.000000     -0.797205     0.000000     -0.004743     0.000000
 27   7982.199983  11650.054688  8109.826026   7325.755371  7530.223900
 28   7232.909362   9435.309570  6989.231849   5981.906738  5651.200356
 29   6914.187854   8232.861328  6103.716727   5892.373535  5421.151223
 ..           ...           ...          ...           ...          ...
 905  5405.986959  10972.697266  8764.824905   9421.964844  6646.817250
 906  4970.242385  11349.986328  6885.651657   8194.828125  5963.277427
 907  3033.353687   7141.062500  3754.752883   7522.227539  5325.513550
 908     0.000000     -0.820970     0.000000     -0.004743     0.000000
 909  4461.992121   9860.609375  6619.182709   7155.763184  6079.028711
 910  4107.240788   9449.635742  5500.820266   6438.267578  5538.337133
 911  4205.106440   8222.017578  5334.451629   5469.931641  5171.334193
 912  4018.328321   8700.699219  5708.907272   6293.073730  5005.239048
 913  4386.961225   9271.903320  5780.854857   5717.541992  5565.620824
 914  3134.949187   6493.996582  3629.082376   6621.289062  4793.959495
 915     0.000000     -0.804459     0.000000     -0.004743     0.000000
 916  6746.039313  12772.727539  9219.377237  10401.243164  7041.945071
 917  5960.407308  11791.037109  8484.373044   8624.946289  6940.733610
 918  4902.283879   9898.570312  7899.268231   7121.007812  6436.166580
 919  5077.823509   9933.971680  8524.573690   7725.577148  6208.843740
 920  4732.759287  10619.690430  6992.761784   7639.778320  5762.298856
 921  2976.518979   6884.047852  3872.447131   6696.403320  5474.481009
 922     0.000000     -0.814952     0.000000     -0.004743     0.000000
 923  4215.411119  10097.093750  5901.068851   7075.940918  5926.398260
 924  3895.081356  10153.102539  5341.782279   6116.267090  6031.210555
 925  3742.494492   8516.365234  5146.017441   5556.637695  5453.433820
 926  3706.771142   8682.004883  5943.365923   6463.165039  5903.174580
 927  3894.164622   9193.639648  5061.578234   5930.914551  5839.925283
 928  2915.508329   6408.882324  3345.060919   6637.989258  4945.407031
 929     0.000000     -0.802776     0.000000     -0.004743     0.000000
 930  6058.937775  13802.536133  9036.857670  10504.786133  7210.730818
 931  5005.812803  13010.271484  7287.358233   8684.810547  6256.381176
 932  5199.054657  10953.037109  6837.183543   7439.208496  5784.776544
 933  4923.943160  11498.045898  8015.652878   8180.302734  6017.734191
 934  5439.882113  11492.581055  7615.099693   7663.935547  6756.862236

             Total
 0    73361.107191
 1    67755.484958
 2    63673.672280
 3    65101.536710
 4    44427.428121
 5       -0.819598
 6    50915.132134
 7    49069.937075
 8    47592.623364
 9    48826.194574
 10   53140.624493
 11   43197.608991
 12      -0.804597
 13   77202.570186
 14   67383.390909
 15   65896.958573
 16   61882.346255
 17   62864.382834
 18   43141.615738
 19      -0.816249
 20   49651.152998
 21   47881.215027
 22   48491.297531
 23   52851.031463
 24   58438.169039
 25   47731.168351
 26      -0.802363
 27   87509.974916
 28   74035.062516
 29   69761.616151
 ..            ...
 905  77244.035898
 906  70943.767579
 907  52456.202901
 908     -0.826127
 909  62166.298788
 910  57663.460038
 911  56577.230363
 912  56973.568699
 913  59009.465577
 914  47975.219997
 915     -0.809616
 916  88676.941347
 917  79756.610385
 918  73261.249558
 919  71561.420851
 920  67961.859250
 921  49552.761977
 922     -0.820110
 923  61242.588114
 924  57874.103594
 925  55220.286456
 926  56857.461198
 927  55491.515230
 928  46782.539506
 929     -0.807934
 930  88091.093728
 931  76202.649303
 932  70792.496258
 933  72369.860888
 934  72904.288491

 [935 rows x 11 columns],              GB
 0  72391.268380
 1  64637.135388
 2  63662.901707
 3  65037.068279
 4  43222.875952)

In [47]:
X2.head()

,1,2,3,4,5,6,7,8,9,10,...,10,11,12,13,14,15,16,17,18,19
0,5693.193925,6303.152272,9845.807535,10206.146484,5585.067958,7147.661768,10084.369141,6433.098762,6374.213867,5688.395479,...,2.444916,-0.409012,1.370128,-1.931519,-0.315101,0.124641,0.024060,0.302992,-1.931749,-1.179223
1,5539.595958,6555.860345,8411.639210,9118.957031,5824.338583,6880.898734,9011.419922,5525.291577,5318.414062,5569.069536,...,-0.409012,2.444916,0.747023,1.370731,-1.930863,-0.314460,0.126098,0.021711,0.304175,0.161665
2,5066.336187,5485.939943,7731.928681,9120.459961,4943.748700,6295.468110,7932.394531,6176.105360,5331.561523,5589.729284,...,-0.409012,-0.409012,0.441558,0.748671,1.372236,-1.930804,-0.313389,0.123948,0.023445,0.233023
3,4861.325073,4855.833467,8811.058785,9824.867188,5083.340501,6896.488886,8253.934570,5165.642864,5739.909180,5609.136196,...,-0.409012,-0.409012,0.434712,0.443718,0.750016,1.373484,-1.931155,-0.316397,0.125482,0.441202
4,4894.417490,2579.798593,4403.234392,9802.511719,1814.601078,3787.978551,5127.479492,2563.439689,4959.999023,4493.968093,...,-0.409012,-0.409012,0.467794,0.436883,0.444984,0.751040,1.376040,-1.937323,-0.314000,0.614930

In [48]:
rng=range(0,33)
new_cols =  ['' + str(i) for i in rng]
X2.columns = new_cols[:32]
std2= preprocessing.StandardScaler().fit(X2)
X2 = std2.transform(X2)

In [49]:
pd.DataFrame(X2).head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,0.888719,0.938331,1.271612,0.599713,0.730175,1.041660,0.722144,0.684415,0.366587,0.466161,...,2.444916,-0.409012,1.370128,-1.931519,-0.315101,0.124641,0.024060,0.302992,-1.931749,-1.179223
1,0.810571,1.047609,0.826271,0.315812,0.832323,0.934110,0.441767,0.342357,-0.014689,0.413066,...,-0.409012,2.444916,0.747023,1.370731,-1.930863,-0.314460,0.126098,0.021711,0.304175,0.161665
2,0.569782,0.584944,0.615206,0.316204,0.456387,0.698085,0.159803,0.587581,-0.009942,0.422258,...,-0.409012,-0.409012,0.441558,0.748671,1.372236,-1.930804,-0.313389,0.123948,0.023445,0.233023
3,0.465475,0.312468,0.950300,0.500148,0.515981,0.940395,0.243826,0.206843,0.137523,0.430894,...,-0.409012,-0.409012,0.434712,0.443718,0.750016,1.373484,-1.931155,-0.316397,0.125482,0.441202
4,0.482312,-0.671757,-0.418427,0.494310,-0.879489,-0.312848,-0.573160,-0.773655,-0.144122,-0.065310,...,-0.409012,-0.409012,0.467794,0.436883,0.444984,0.751040,1.376040,-1.937323,-0.314000,0.614930

In [50]:
def create_MLP2():
    mlp=models.Sequential()
    mlp.add(Dense(40, input_dim=X2.shape[1], activation='relu'))
    #mlp.add(Dense(20, activation='relu'))
    mlp.add(Dense(30, activation='relu'))
    mlp.add(Dense(10, activation='relu'))    
    mlp.add(Dense(1, activation='relu'))
    mlp.compile(loss='mae', optimizer='adam', metrics=['mae'])
    return mlp

MLP2 = KerasRegressor(build_fn=create_MLP2,
                               epochs=600,
                               batch_size=20,
                               verbose=0)

In [51]:
rf2_models=[];
rf2_models=(cross_val_score(RF,X2,y,cv=cv, scoring ='mean_absolute_error').mean().round(0) )

gb2_models=[];
gb2_models=(cross_val_score(GB,X2,y,cv=cv, scoring ='mean_absolute_error').mean().round(0)  )
   

xg2_models=[];
xg2_models=(cross_val_score(XG,X2,y,cv=cv, scoring ='mean_absolute_error').mean().round(0)  )

In [52]:

mlp2_models=[];
mlp2_models=(cross_val_score(MLP2,X2,y,cv=cv, scoring='mean_absolute_error').mean().round(0)  )

In [53]:
mae2=-pd.DataFrame(np.column_stack((mlp2_models,rf2_models,gb2_models,xg2_models)) )
mae2=mae2.rename(columns = {0:'MLP',1:'RF',2:'GB',3:'XG'})
mae2

     MLP     RF     GB     XG
0  445.0  610.0  528.0  303.0

In [54]:
#Using forecasted data and no empirical sales data, the best performaning model is selected based on Train/Test. 
## NOTE this improvement is not the true delta.  Only a final forecast between Stage 1 vs 2 will tell. 

best2=mae2.idxmin(axis=1)
best2.astype('category')
mae2["Best"]=best2
both_mae=pd.concat([mae,mae2],axis=0)
both_mae.reset_index(drop=True, inplace=True)

# Phase 1 & 2 DC Models compared based on Test set MAE scores. 
both_mae['min']=both_mae.min(axis=1)
both_mae['error reduction']= ((both_mae['min'][0]-both_mae['min'][1])/both_mae['min'][0] ).round(3)
both_mae

  Best      GB      GPR     MLP      RF      XG     min  error reduction
0   GB  3068.0  52053.0  3972.0  3182.0  3118.0  3068.0            0.901
1   XG   528.0      NaN   445.0   610.0   303.0   303.0            0.901

In [55]:
bm2_dict={}
for sku in range(0,1):
        if  mae2["Best"][0]=="RF":
            bm2_dict[sku]=RF_final(X2,y);
                    
        elif mae2["Best"][0]=="NN":
            bm2_dict[sku]=MLP_final(X2,y);
                                
        elif mae2["Best"][0]=="GB":
            bm2_dict[sku]=GB_final(X2,y); 
                        
        elif mae2["Best"][0]=="XG":
            bm2_dict[sku]=XG_final(X2,y);

In [56]:
tier_pred=pd.concat([bm_dict[0][0],bm2_dict[0][0],y],axis=1)
tier_pred.columns = ['DC_Phase1', 'DC_Phase2',"Sales"]
# tier_pred.to_csv('C:\\Users\\lengada1\\NCSU\\DC_tier_predictions.csv')
tier_pred.to_csv('./DC_tier_predictions.csv')
tier_pred.round()

     DC_Phase1  DC_Phase2  Sales
0      72391.0    72426.0  72552
1      64637.0    64343.0  64297
2      63663.0    63823.0  64112
3      65037.0    64988.0  65006
4      43223.0    43305.0  43300
5         -5.0        4.0      0
6      50906.0    50998.0  50984
7      48195.0    48186.0  48246
8      45988.0    45686.0  45400
9      47282.0    46988.0  46978
10     51606.0    51522.0  51511
11     42778.0    42503.0  42506
12        -2.0        6.0      0
13     71832.0    71666.0  71624
14     68099.0    68474.0  68454
15     65919.0    66202.0  66359
16     60981.0    60925.0  60730
17     63316.0    63319.0  63379
18     41831.0    41624.0  41514
19        -9.0        7.0      0
20     48784.0    48739.0  48742
21     47662.0    47524.0  47741
22     48680.0    48985.0  48958
23     58182.0    58645.0  58657
24     60484.0    60370.0  60284
25     48944.0    49169.0  49258
26        12.0        6.0      0
27     87957.0    87757.0  87665
28     74608.0    74579.0  74556
29     70672.0    70749.0  70827
..         ...        ...    ...
905    75528.0    75276.0  75256
906    71098.0    71066.0  71053
907    49622.0    49740.0  49651
908       -3.0        6.0      0
909    65275.0    65400.0  65461
910    57373.0    57355.0  57315
911    58335.0    58529.0  58514
912    58510.0    58709.0  58747
913    59798.0    59960.0  59787
914    46517.0    46303.0  46215
915       27.0        6.0      0
916    88761.0    88990.0  88715
917    79853.0    80147.0  80477
918    73344.0    73250.0  73330
919    72706.0    72814.0  72878
920    65064.0    64757.0  64608
921    48934.0    49065.0  49229
922       19.0        6.0      0
923    62622.0    62659.0  62773
924    56245.0    56207.0  56076
925    54431.0    54296.0  53958
926    56325.0    56441.0  56591
927    54470.0    54405.0  54317
928    45286.0    44932.0  44903
929       12.0        6.0      0
930    87015.0    86847.0  86899
931    75021.0    74698.0  74693
932    72916.0    72888.0  72885
933    73413.0    73317.0  73389
934    83242.0    83566.0  83695

[935 rows x 3 columns]

In [57]:
# END NOTEBOOK
bm_dict[0][1]

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.01, loss='ls', max_depth=8, max_features=14,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=1000, presort='auto', random_state=None,
             subsample=1.0, verbose=0, warm_start=False)

In [58]:
def save_model(model, filename):
    """
    Saves the model as a file. 
    - Keras models: saved as .json and .h5 files
    - scikit-learn models: saved as .pickle files
    """
    
    if type(model) is KerasRegressor:
        
        model_json = model.model.to_json()
        with open('{}.json'.format(filename), "w") as json_file:
            json_file.write(model_json)
        model.model.save_weights('{}.h5'.format(filename))        
    else:
        pickle_out = open('{}.pickle'.format(filename), "wb")
        pickle.dump(model, pickle_out)
        pickle_out.close()


# Save model to disk
filename="NCSU_DC"
model = bm_dict[0][1]
save_model(model, filename)

In [59]:
# Load model from disk
def load_pickled_model(path_to_model):
    loaded_model = pickle.load(open(path_to_model, 'rb'))
    
    return loaded_model

def load_keras_model(path_to_json, path_to_weights_h5):
    
    # load json and create model
    json_file = open(path_to_json, 'r')
    loaded_model_json = json_file.read()
    json_file.close()
    loaded_model = model_from_json(loaded_model_json)

    # load weights into new model
    loaded_model.load_weights(path_to_weights_h5)
    
    # wrap Sequential obj as a KerasRegressor to allow scikit-learn compatibility
    wrapped_loaded_model = KerasRegressor(build_fn=create_MLP, epochs=400, batch_size=20, verbose=0)
    
    return wrapped_loaded_model

def load_model(filename):
    """
    Loads a given file as a model
    - .pickle files: loaded as scikit-learn models
    - .json and .h5 files: loaded together to create Keras models
    """
    
    loaded_model = None
    
    try:
        loaded_model = load_pickled_model("{}.pickle".format(filename))
        
    except FileNotFoundError:
        loaded_model = load_keras_model("{}.json".format(filename), "{}.h5".format(filename))
        
    return loaded_model

loaded_model = load_model("NCSU_DC")

In [60]:
# Evaluate loaded model on test data
scores=[]
model_family=[]
    
# Identify the model family
if isinstance(loaded_model, RandomForestRegressor):
    model_family.append('RF')
    
elif isinstance(loaded_model, xgb.XGBRegressor):
    model_family.append('XG')   
    
elif isinstance(loaded_model, ensemble.GradientBoostingRegressor):
    model_family.append('GB')    
    
else:
    model_family.append('MLP')

# Obtain the cross validation score
score = -cross_val_score(loaded_model,X,y,cv=cv, scoring ='mean_absolute_error').mean().round(0)
scores.append(score)        

loaded_model_scores = pd.DataFrame({
    'CV Score':scores,
    'Family':model_family
})

loaded_model_scores

   CV Score Family
0    3106.0     GB